@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import "https://fonts.googleapis.com/css?family=Roboto";

//primary colors
$cyan1: #00BCD4;
$cyan2: #4DD0E1;
$cyan3: #B2EBF2;

//secondary color(s)
$pink: #FF4081;

//font-colors
$primary-black: rgba(0, 0, 0, .87);
$secondary-black: rgba(0, 0, 0, .54);
$hint-black: rgba(0, 0, 0, .38);
$secondary: rgba(255, 255, 255, .7);
$hint: rgba(255, 255, 255, .5);

//other colors
$light-grey: #f2f2f2;

$curved-border: 5px 5px 5px 5px;
$box-shadow-light: 0px 0px 5px -2px rgba(0,0,0,0.75);
$light-border: 1px solid #e6e6e6;

body{
  width: 100%;
  height: 100%;
}
